body {
  text-align: center;
  background: black;
}

body h1 {
  text-transform: uppercase;
}

h1{
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 2em;
}

body button {
  font-size: 20px;
  background-color: black;
  color: black;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}
